{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="wrapper">
        <header role="header">
            {% include 'part/_navbar.html.twig' %}
        </header>

        <section id="home" class="sec-main">
            <div class="row">
                <div class="col">
                    {% for label, messages in app.flashes %}
                        <div class="container">
                            <div class="alert alert-{{ label }}">
                                {% for message in messages %}
                                    <p>{{ message | raw }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <h1 class="main-heading">{{ user.titlePresentation }} <br> {{ user.firstName }} {{ user.lastName }}</h1>
        </section>

        <section id="about" class="sec-about">

            <div class="container">
                <h2>À PROPOS DE MOI ...</h2>

                <hr />
                    <div class="w3-col m6 w3-center w3-section">
                        <img src="/uploads/{{ user.picture }}" id="profile" class="w3-circle" alt="Photo of Me">

                    </div>
                <hr/>

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <p>{{ user.presentation }}</p>
                    </div>
                </div>
            </div>
        </section>


        <section id="services" class="sec-about">
            <div class="container">



                <h2>CONNAISSANCES</h2>

                <hr />

                <div class="row">
                    {% for knowledge in user.knowledge %}
                        {% if knowledge.rating|length > 0 %}
                            <div class="col-sm-4 symbol">
                                <h2 class="h3">{{ knowledge.name }}</h2>
                                <div class="w3-col">
                                    <img src="{{ knowledge.picture }}" id="photo" alt="Photo of knowledge">
                                </div>
                                {% include 'part/_rating.html.twig'  with {'rating': knowledge.rating}%}
                                <p>{{ knowledge.description }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section id="folio" class="sec-about">
            <div class="container">
                <h2>MES PROJETS</h2>


                <hr />

                <ul class="catCardList">
                    {% for project in projects %}
                    <li class="catCardList">
                        <div class="catCard"><a href="{{ project.url }}"><img src="{{ project.picture }}" alt=""></a>
                            <div class="lowerCatCard">
                                <h3>{{ project.title }}</h3>
                                <p>{{ project.content }}</p>
                                <h4>Technos utilisées :</h4>
                                <ul>
                                    {% for knowledge in project.technology %}
                                    <li>- {{ knowledge.name }}</li>
                                    {% endfor %}
                                </ul>
                                <div id="catCardButton" class="button"><a href="{{ project.url }}">Voir</a></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </section>

        <section id="testimonials" class="sec-about ">
            <div class="container">
                <h2>EXPERIENCES PROFESSIONNELLES</h2>

                <hr />

                <div class="row">
                    {% for experience in user.experiences %}
                    <div class="col-sm-4 symbol">
                        <div class="w3-col m6 w3-center w3-section">
                            <img src="{{ experience.icone }}" id="experiencePhoto" class="w3-circle" alt="Photo of Me">
                        </div>
                        <h4>{{ experience.title }}</h4>
                        <h6>{{ experience.dated }}</h6>
                        <ul>
                            {% for experienceList in experience.experienceLists %}
                            <li>
                                - <strong>{{ experienceList.enterprise }}</strong>, {{ experienceList.city }}
                            </li>
                            <li>
                                {{ experienceList.content }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>


        <section id="contact" class="sec-contact">
            <div class="container">
                <h2>CONTACTEZ-MOI</h2>

                <hr />

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <form method="POST">
                            {{ form_start(form) }}

                            {{ form_widget(form) }}
                            <div class="g-recaptcha" data-sitekey="6LddQ40UAAAAAJgjmYikONBb0rMChUeFE-cfhcn8"></div>
                            <div class="form-group">
                                <button class="btn btn-default center-block" type="submit" value="Hire me">Envoyer <i class="far fa-envelope"></i></button>
                            </div>
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <footer id="footer">
            <div class="container">
                <ul class="soc-media-ul">
                    <li>
                        <a href="https://www.linkedin.com/in/camilo-bola%C3%B1os-4034a5171/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </li>

                    <li>
                        <a href="https://github.com/Camilo2309" target="_blank"><i class="fab fa-github"></i></a>
                    </li>

                </ul>
            </div>
        </footer>
    </div>

{% endblock %}
