
{#<button type="button"  data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><i class="fas fa-edit"></i></button>#}

<div class="bs-example">
    <a href="#editKnowledge" data-toggle="modal"><i class="fas fa-edit"></i></a>
</div>

<div class="modal fade" id="editKnowledge" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier ma connaissance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="#" method="post" enctype="multipart/form-data">
                    <div style="margin: 0 30px">
                        <div class="form-group">
                            <label for="name">Nom</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Nom..." value="{{ knowledge.name }}">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" class="form-control" placeholder="Description...">{{ knowledge.description }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="picture">Photo</label>
                            <input type="file" name="picture" id="picture" class="form-control" placeholder="Photo..." value="{{ knowledge.picture }}">
                        </div>

                        <div class="form-group">
                            <label for="rating">Note</label>
                            <input type="text" name="rating" id="rating" class="form-control" placeholder="Note de 0 à 5..." value="{{ knowledge.rating }}">
                        </div>

                    </div>
                    <div class="modal-footer">
                        {#<a href="{{ path('editAboutUs') }}">#}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-theme btn-small" type="submit">Modifier</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>