{% extends 'base.html.twig' %}


{% block body %}

    <div class="wrapper">
        <header role="header">
            {% include 'part/_navbar.html.twig' %}
        </header>

        <section id="home" class="sec-main">
            <div class="row">
                <div class="col">
                    {% for label, messages in app.flashes %}
                        <div class="container">
                            <div class="alert alert-{{ label }}">
                                {% for message in messages %}
                                    <p>{{ message | raw }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <h1 class="main-heading">{{ user.titlePresentation }} <br> {{ user.firstName }} {{ user.lastName }}</h1>
        </section>

        <section id="about" class="sec-about">

            <div class="container">
                <h2>À PROPOS DE MOI ...</h2>
                {% if app.user %}
                    {% include 'part/_modalAboutUs.html.twig' %}
                {% endif %}
                <hr/>
                <div class="row">

                    <div class="w3-col m6 w3-center w3-section">
                        {% if user.picture is null %}
                            <img alt="photo of me" id="profile" class="w3-circle"
                                 src="/public/image/modiPhotoCamilo.PNG">
                        {% else %}
                            <img src="/uploads/{{ user.picture }}" id="profile" class="w3-circle" alt="Photo of Me">
                        {% endif %}

                    </div>
                </div>
                <hr/>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <em><h4>{{ user.presentation }}</h4></em>
                </div>
            </div>
        </section>

        <section id="services" class="sec-about">
            <div class="container">

                <h2>CONNAISSANCES</h2>

                {% if app.user %}
                    {% include 'partKnowledge/_modalAddKnowledge.html.twig' %}
                {% endif %}

                <hr/>

                <ul class="catCardList">
                    {% for knowledge in user.knowledge %}
                        {% if knowledge.rating|length > 0 %}
                            <li class="catCardList">
                                <div class="catCarde">
                                    <div class="w3-col">
                                        <img src="/uploads/{{ knowledge.picture }}" id="photo" alt="Photo of knowledge">
                                    </div>

                                    {% include 'part/_rating.html.twig'  with {'rating': knowledge.rating} %}

                                    <div>

                                        <h3><strong>{{ knowledge.name }}</strong></h3>

                                        <p>{{ knowledge.description }}</p>
                                    </div>
                                </div>
                                {% if app.user %}
                                    {% include 'partKnowledge/_modalEditKnowledge.html.twig' %}
                                    <a href="{{ path('deleteKnowledge', {id : knowledge.id }) }}"
                                       onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ knowledge.name }} ?')"><i
                                                class="fas fa-trash-alt" style="display: inline"></i></a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </section>

        <section id="folio" class="sec-about">
            <div class="container">
                <h2>MES PROJETS</h2>

                {% if app.user %}
                    {% include 'partProject/_modalAddProject.html.twig' %}
                    {#<h4><a href="#" style="text-align: right"><i class="fas fa-plus"  ></i></a></h4>#}
                {% endif %}

                <hr/>

                <ul class="catCardList">
                    {% for project in projects %}
                        <li class="catCardList">
                            <div class="catCard">
                            <a href="{{ project.url }}">
                            <img src="/uploads/{{ project.picture }}" alt="">
                            </a>
                                <div class="lowerCatCard">
                                    <h3><strong>{{ project.title }}</strong></h3>
                                    <p>{{ project.content }}</p>
                       {#             <h4>Technos utilisées :</h4>
                                    <ul>
                                        {% for knowledge in project.technology %}
                                            <li>- {{ knowledge.name }}</li>
                                        {% endfor %}
                                    </ul>#}
                                    <div id="catCardButton" class="button"><a href="{{ project.url }}">Voir</a></div>
                                </div>
                            </div>
                            {% if app.user %}
                                {% include 'partProject/_modalEditProject.html.twig' %}
                                <a href="{{ path('deleteProject', {id : project.id }) }}"
                                   onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ project.title }} ?')"><i
                                            class="fas fa-trash-alt" style="display: inline"></i></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </section>

        <section id="testimonials" class="sec-about">
            <div class="container">
                <h2>EXPERIENCES PROFESSIONNELLES</h2>

                {% if app.user %}
                    {% include 'partProfessionalExperience/_modalAddExperience.html.twig' %}
                {% endif %}
                <hr/>

                <ul class="catCardList">
                    {% for experience in user.experiences %}
                        <li class="catCardList">
                            <div class="w3-col">
                                <img src="/uploads/{{ experience.icone }}" id="photo" alt="Photo of Me">
                            </div>

                            <h3><strong>{{ experience.title }}</strong></h3>
                            <p>{{ experience.dated }}</p>
                            {% if app.user %}
                                {% include 'partProfessionalExperience/_modalEditExperience.html.twig' %}
                                <a href="{{ path('deleteExperience', {id : experience.id }) }}"
                                   onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ experience.title }} ?')"><i
                                            class="fas fa-trash-alt" style="display: inline"></i></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </section>

        <footer id="footer">
            <div class="container">
                <ul class="soc-media-ul">
                    <li>
                        <a href="https://www.linkedin.com/in/camilo-bola%C3%B1os-4034a5171/" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a>
                    </li>

                    <li>
                        <a href="https://github.com/Camilo2309" target="_blank"><i class="fab fa-github"></i></a>
                    </li>

                </ul>
            </div>
        </footer>
    </div>


{% endblock %}
