{% extends 'base.html.twig' %}

{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="wrapper">
        <header role="header">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" role="button">
                            <span class="sr-only">Toggle Navigation</span>

                            <span class="icon-bar"></span>

                            <span class="icon-bar"></span>

                            <span class="icon-bar"></span>
                        </button>

                        <a href="#home" class="navbar-brand">Camilo Bolanos</a>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right js-nav">
                            <li><a href="#home">Home</a></li>

                            <li><a href="#about">Présentation</a></li>

                            <li><a href="#services">Connaissances</a></li>

                            <li><a href="#folio">Projets</a></li>

                            <li><a href="#testimonials">Expériences</a></li>

                            <li><a href="#contact">Contact</a></li>

                            <li><a href="#">Télécharger mon CV</a></li>


                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <section id="home" class="sec-main">
            <div class="row">
                <div class="col">
                    {% for label, messages in app.flashes %}
                        <div class="container">
                            <div class="alert alert-{{ label }}">
                                {% for message in messages %}
                                    <p>{{ message | raw }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <h1 class="main-heading"> {{ form_label(formUser.titlePresentation) }}{{ form_widget(formUser.titlePresentation) }}<br> {{ form_widget(formUser.firstName) }} {{ form_widget(formUser.lastName) }}</h1>
        </section>

        <section id="about" class="sec-about">
            <div class="container">
                <h2>À PROPOS DE MOI ...</h2>
                <hr />

                <div class="w3-col m6 w3-center w3-section">
                    <img src="{{ form_widget(formUser.picture) }}" id="profile" class="w3-circle" alt="Photo of Me">
                </div>
                <hr/>

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <p>{{ form_widget(formUser.presentation) }}</p>
                    </div>
                </div>
            </div>
        </section>



    </div>

{% endblock %}
